* {
    font-family: 'Overpass', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 16px);
    padding: 10px;
    z-index: 1;
    background-color: lightgray;
    height: 60px;
}

.home {
    background-color: #ffffff;
}

.headerImage {
    height: 55px;
}

.homeHTag {
    text-align: left;
}

.accountButton {
    border: 0cm;
    background-color: #20c914;
    height: 60px;
    width: 140px;
    color: #ffffff;
    font-size: 20px;
}

.wrapper {
    text-align: left;
}

.tab1 {
    color: black;
    background-color: white;
    height: 50px;
    width: 24.5%;
    border-bottom-color: red;
    border-left-color: black;
    border-right-color: black;
    border-top-color: black;
    border-style: solid;
    font-size: 17pt;
}

.tab2 {
    color: black;
    background-color: white;
    height: 50px;
    width: 24.5%;
    border-bottom-color: blue;
    border-left-color: black;
    border-right-color: black;
    border-top-color: black;
    border-style: solid;
    font-size: 17pt;
}

.tab3 {
    color: black;
    background-color: white;
    height: 50px;
    width: 24.5%;
    border-bottom-color: #20c914 ;
    border-left-color: black;
    border-right-color: black;
    border-top-color: black;
    border-style: solid;
    font-size: 17pt;
}

.tab4 {
    color: black;
    background-color: white;
    height: 50px;
    width: 24.5%;
    border-bottom-color: gray;
    border-left-color: black;
    border-right-color: black;
    border-top-color: black;
    border-style: solid;
    font-size: 17pt;
}