* {
    font-family: 'Overpass', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 16px);
    padding: 10px;
    z-index: 1;
    background-color: lightgray;
    height: 60px;
}

.home {
    background-color: #ffffff;
}

.headerImage {
    height: 55px;
}

.homeHTag {
    text-align: left;
}

.accountButton {
    border: 0cm;
    background-color: #20c914;
    height: 60px;
    width: 140px;
    color: #ffffff;
    font-size: 20px;
}

.wrapper {
    text-align: left;
}